@charset "UTF-8";
.myWidth{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
.myInput{
width: 100%;
padding: 8px;
border-radius: 10px 0px 0px 10px;
}
.wraper{
    width: 80%;
    margin: 0 auto;
}
.leftSide{
    width: 80%;
    float: left;
}

.rightSide{
    width: 20%;
    float: left;
}

